<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Образовательный портал</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/stylesheet.css}">
</head>
<body>
<div class="bg-img">
    <nav class="topnav">
        <a href="/">Главная</a>
        <a href="/materials">Учебные материалы</a>
        <a href="/admins_page">Администратор</a>
    </nav>
    <p class="my-block">
        Наш портал — это современная платформа, созданная для упрощения учебного процесса, расширения знаний
        и профессионального роста студентов самых разных направлений.
        Мы собрали максимум полезной информации, технологии и советы, которые помогут вам на пути к успешной учёбе и карьере.
    </p>
</div>
</body>
</html>